body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    letter-spacing: 2px;
    font-size: 2.5rem;
    color: #040a4a;
}

h2 {
    color: #040a4a;
}

h6 {
    color: #ff4f8c;
}

p {
    line-height: 2rem;
}

@media (min-width: 768px) {
    header.container {
        padding: 2rem 8rem;
    }
}

@media (min-width: 1024px) { 
    header.container {
        padding: 2rem 12rem;
    }
}

button {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
}

/*HEADER*/
header button {
    background-color: transparent;
    color: #fff; 
    border: 2px solid #fff;
}

/*HERO*/
#hero button {
    background-image: linear-gradient(#ff4f8c, #fe6575);
    color: #fff; 
}

/*SERVICES*/
#services img {
    background-color: #040a4a;
    color: #fff; 
}

.service-img {
    width: 40px;
    height: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}

/*CASE STUDY*/
#case-study button {
    background-color: transparent;
    color: #ff4f8c; 
    border: 2px solid #ff4f8c;
}

/*FOOTER*/
footer input {
    padding: 20px;
    border-radius: 50px;
    border: 1px solid black;
    width: 100%;
}