.container {
    padding: 1rem 2rem;
}

.d-none {
    display: none;
}

@media (min-width: 320px) {
    .container {
        padding: 3rem 6rem;
    }
}

@media (min-width: 768px) {
    .container {
        padding: 4rem 8rem;
    }
}

@media (min-width: 1024px) { 
    .container {
        padding: 6rem 12rem;
    }

    .d-block-lg {
        display: block;
    }
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}